<footer>
    <p><%= current_year %></p>
    <p>Автор Азиев К.</p>
    <p><%= link_html  %></p>
    <p>Учебный проект в онлайн школе <%= link_to 'Thinknetica!', "https://thinknetica.com/" %></p>
</footer>
